.App {
  display: flexbox;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  /* top: 15%; */
  min-height: 100vh;
  padding-bottom: 100px;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.p-slider {
  height: 1em;
  width: 20vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.generatedLink {
  width: 50vw;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 45%;
}


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}