.App {
  display: flexbox;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10%;
  min-height: 100vh;
  padding-bottom: 100px;
}

.p-slider {
  height: 1em;
  width: 20vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.generatedLink {
  width: 50vw;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
}